---
<<<<<<< HEAD
import { SITE_DESCRIPTION , ABOUT_TITLE}from '../consts';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
=======
import Layout from '../layouts/BlogPost.astro';
import '../../styles/global.css';
>>>>>>> 1d7cbc708c561e2365ba4e07690040f88becb422
---


<body>
	<h2>About Me</h2>
	<Header/>
	<BaseHead title={ABOUT_TITLE} description={SITE_DESCRIPTION} />
	<h3 style="text-align:center;">wait For the future </h3>
</body>
</Layout>

