---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
<<<<<<< HEAD
import { SITE_TITLE, SITE_DESCRIPTION} from '../consts';
=======
import { SITE_TITLE, SITE_DESCRIPTION, HOME_TITLE} from '../consts';
import '../../styles/global.css';
>>>>>>> 1d7cbc708c561e2365ba4e07690040f88becb422
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<h2>HOME</h2>
		<Header />
		<main style="padding:0; padding-top:20px;">
			<h1>hello world wide web</h1>
			<p>I'm Yousef fahad aka <a href="https://www.links.vizkex.com" style="color:#FF7843;text-decoration:none;">@vizkex</a></p>
		</main>
		<Footer />
	</body>
</html>
